/*###################################################################*/
/* Fonts and defaults */
/* Merriweather */
/* font-family: "Merriweather", serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* font-family: "Lato", serif; */
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* this code helps see the outline of DIVs to see what's going on */
/* div, section, header, footer{
  border: solid 1px red;
  margin: 2px;
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ACTIONS

~ find a smart way of including home or away - maybe use a nested grid???
~ can I add the logos from each club on the cards?
~ media queries

*/

/*###################################################################*/
/* defaults and resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
    text-decoration: none;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    margin: 0;
}

 body{
  position: relative;
  margin: 0;
  min-height: 100%;
 }

/*###################################################################*/
/* hero */
.hero{
    position: relative;
    background-image: url(img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100dvh;
    /* the code below make sure the text is vertciall aligned in the hero DIV */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content{
    text-align: center;
    margin: 0 auto;
    width:100%;
    /* background-color: #141414; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* opacity: 0.60; */
}

.hero-content h1, a{
    text-decoration: none;
    font-size: 5rem;
    font-weight: 800;
    padding-bottom: 0.8rem;
    color: #141414;
    font-family: "Merriweather", serif;
}

.hero-content h2{
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
    color: #333333;
    font-family: "Merriweather", serif;
}

.hero-content-line{
    width: 40dvw;
    margin: 0 auto;
    border: 1px solid rgb(20,33,61,0.70);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero button{
    background: rgb(20,33,61);
    color: #FFFFFF;
    border: none;
    padding: 1rem 1.8rem;
    margin-top: 1.2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .hero button:hover{
    background: rgb(20,33,61,0.70);
    /* the 0.70 is the opacity */
    color: #FFFFFF;
  }


/*###################################################################*/
/* card */
.card{
    height: 100dvh;
}


/*###################################################################*/
/* season2425 */
#season2425{
    padding-left: 10dvw;
    padding-right: 10dvw; 
    padding-bottom: 1rem;
    padding-top: 5dvh;
}

#season2425 h1{
    font-size: 1.4rem;
}

/*###################################################################*/
/* grid-main */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto); /* Rows will be at least 300px in height, but expand if content overflows */
    gap: 2rem;
    padding-left: 5dvw;
    padding-right: 5dvw;
    padding-bottom: 8rem;
    padding-top: 2rem;
}

/* Styling for the link wrapping each card */
.main-item-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Maintain text color */
  display: block; /* Ensure the link spans the full card */
}

/* Styling for the individual cards */
.main-item {
  /* min-height: 250px; */
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 1.2rem;
  font-size: 1rem;  
  cursor: pointer;
}

.main-item:hover{
  background-color: #14213d;
}

.main-item h1{
    font-size: 1rem;
    padding-bottom: 0.4rem;
    font-weight: 300;
    color: #545454;
  }

.main-item:hover h1{
  color: #FFFFFF;
}

.main-item h2{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #141414;
  }

.main-item:hover h2{
  color: #fca311
}

.main-item-line{
  /* width: 100%; */
  border: 1px solid #999999;
  margin-bottom: 3rem;
}

/*###################################################################*/
/* footer */
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    color:#999999;
    position: absolute; /* add position: relative to the body tag so the footer stays at the bottom */
    overflow: auto;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top:auto;
}

/*###################################################################*/
/* Media queries for responsiveness */
/* smartphone */
@media (max-width: 768px) {
    .hero {
        padding-top: 3vh;
    }
  
    .hero h1, a {
        font-size: 2.4rem;
    }
  
    .hero h2{
      font-size: 1.4rem;
  }

  .hero-content-line{
    width: 60dvw;
  }
  
  .card{
    height: auto;
}
  
    .hero p {
        font-size: 1rem;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
  
    #season2425 h1 {
        font-size: 1.2rem;
    }
  
    .main-grid {
        grid-template-columns: 1fr; /* Single column for smaller screens */
        padding-left: 5vw;
        padding-right: 5vw;
        grid-auto-rows: minmax(150px, auto); /* Rows will be at least 150px in height, but expand if content overflows */

        gap: 0.1rem; /* Reduced spacing between items */
    }
  
    .main-item {
        min-height: 200px;
        font-size: 0.9rem;
        padding: 1rem;
    }
  
    .main-item h1 {
        font-size: 0.9rem;
    }
  
    .main-item h2 {
        font-size: 1.4rem;
    }
  
    footer {
        font-size: 0.9rem;
    }
  }
  
  /* tablet */
  @media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        padding-top: 4vh;
    }
  
    .hero-content h1 {
        font-size: 2.5rem;
    }
  
    .hero-content p {
        font-size: 1.1rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
  
    #season2425 h1 {
        font-size: 1.3rem;
    }
  
    .main-grid {
        grid-template-columns: 1fr 1fr; /* Two columns for medium screens */
        padding-left: 8vw;
        padding-right: 8vw;
        gap: 1.5rem;
    }
  
    .main-item {
        min-height: 220px;
        font-size: 1rem;
        padding: 1.1rem;
    }
  
    .main-item h1 {
        font-size: 1rem;
    }
  
    .main-item h2 {
        font-size: 1.6rem;
    }
  
    footer {
        font-size: 1rem;
    }
  }
  
  /* desktops */
  @media (min-width: 1025px) {
    .hero {
        padding-top: 5vh;
    }
  
    .hero-content h1 {
        font-size: 3rem;
    }
  
    .hero-content p {
        font-size: 1.2rem;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
  
    #season2425 h1 {
        font-size: 1.4rem;
    }
  
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr; /* Three columns for large screens */
        padding-left: 10dvw;
        padding-right: 10dvw;
        gap: 2rem;
    }
  
    .main-item {
        min-height: 250px;
        width:100%;
        font-size: 1rem;
        padding: 1.2rem;
    }
  
    .main-item h1 {
        font-size: 1rem;
    }
  
    .main-item h2 {
        font-size: 1.8rem;
    }
  
    footer {
        font-size: 1rem;
    }
  }
  